@using System.Collections.Generic
@using System.Linq
@using ProjectBullet.Core.Node.Description
@using ProjectBullet.Core.Shop
@using Sandbox
@using Sandbox.UI;
@using ProjectBullet.Player;
@namespace ProjectBullet.UI.Editor
@attribute [StyleSheet("/UI/Editor/Menu.scss")]

@code {
    public GraphVisualizer GraphVisualizer { get; set; }
    public BasePlayer LocalBasePlayer => Game.LocalPawn as BasePlayer;
    public int LocalMoney => LocalBasePlayer.Inventory.Money;
    public IEnumerable<ShopHostEntity.StockedItem> BuyableItems => ShopHostEntity.Instance.Stock.Where(v => LocalMoney >= v.Price);
    public IEnumerable<ShopHostEntity.StockedItem> NoBuyItems => ShopHostEntity.Instance.Stock.Where(v => v.Price > LocalMoney);
}

<root class="menu">
    @if (GraphVisualizer == null)
    {
        return;
    }

    <div class="group">
        <div class="title">
            <div class="center-text-container">
                <div class="info-text">shop - @LocalBasePlayer.Inventory.Money</div>
            </div>
        </div>

        @foreach (var item in BuyableItems)
        {
            @if (item.Description is WeaponNodeDescription wnd)
            {
                <div class="item" @onclick=@(() => { ShopCmd.BuyItem(item); })>
                    <div class="center-text-container">
                        <div style="justify-content: space-between; width: 100%">
                            <div class="info-text">buy for @item.Price...</div>
                            <div>
                                @wnd.NodeAttribute.DisplayName
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        @foreach (var item in NoBuyItems)
        {
            @if (item.Description is WeaponNodeDescription wnd)
            {
                <div class="item disabled">
                    <div class="center-text-container">
                        <div style="justify-content: space-between; width: 100%">
                            <div class="info-text">@item.Price</div>
                            <div>
                                @wnd.NodeAttribute.DisplayName
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</root>